/* Error404.css */
.error-container {
  margin: 0;
  height: 100vh;
  background-image: url('./Assets/Error404.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
