.testimonials-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align content to the right */
    flex-direction: row-reverse; /* Reverse the order of items */
    margin-top: 50px;
  }
  
  .testimonial-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .testimonial-text {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .quote {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .author {
    font-style: italic;
    color: #777;
  }
  
  .navigation {
    display: flex;
    gap: 20px;
  }
  
  button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .testimonial-image {
    margin-left: 20px; /* Add margin for space between text and image */
  }
  
  img {
    max-width: 200px; /* Set the maximum width of the image */
    border-radius: 8px; /* Apply border-radius to the image */
  }
  